.DS_Store
.bundle
.idea

*.env
imports/*
config/application.yml
config/database.yml
config/resque.yml
config/redis.yml
config/memcached.yml
config/development.sphinx.conf
log/
tmp/
/coverage
/dumps


/tags
.sass-cache/
node_modules/
grunt/portal/img/_icons.scss
grunt/portal/img/icons.html
grunt/deringhall/img/_icons.scss
grunt/deringhall/img/icons.html
npm-debug.log

.tags
.tags_swap

# Ignore assets compiled version
public/stylesheets/
public/javascripts/
public/assets
/public/packs
/public/packs-test
/node_modules